language : php

php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2

sudo: false

cache:
    directories:
      - $HOME/.composer/cache

script: composer install --prefer-dist --no-interaction

before_install:
  - chmod +x ./vendor/autoload.php